<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create Dish!</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="dishForm" >
        <input type="text" placeholder="Enter name" formControlName="name">
        <input type="number" placeholder="Enter price" formControlName="price">
        <!-- <p-inputNumber placeholder="Enter price" inputId="integeronly" [style]="{ 'width': '100%', 'height':'45px'}" formControlName="price">
        </p-inputNumber> -->
        <input type="text" placeholder="Enter description" formControlName="description">
        <select formControlName="type" class="select" >
          <option><p>---</p></option>
          <option *ngFor="let category of categories"   ><p>{{category.name}}</p></option>
        </select>
        <input type="text" placeholder="Enter ingredients" formControlName="ingredients">
        <select formControlName="status" class="select" >
          <option><p>---</p></option>
          <option><p>actives</p></option>
          <option><p>inactives</p></option>
        </select>
        <div>
          <img style="width: 150px; height: auto;" *ngFor="let urlFile of filePath" [src]="urlFile">
        </div>
        <label >
          <input 
                 type="file"
                 accept="*.png.jpg"
                 (change)="processFile($event)">
        </label>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="onSubmit()">Save</button>
    </div>
  </ng-template>
  
  <button 
  style="background-color: black"
  pButton
  pRipple
  label="New"
  icon="pi pi-plus"
  class="p-button-success p-mr-2" (click)="open(content)"></button>