<!-- <div>
  <table  style="width: 80%; margin-left: auto; margin-right: auto" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Tài khoản</th>
        <th scope="col">Họ và tên</th>
        <th scope="col">Email</th>
        <th scope="col">Ngày đăng ký</th>
        <th scope="col">Chức vụ</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.username }}</td>
        <td>{{ user.fullname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.metadata.created | date: "medium" }}</td>
        <td>{{ user.role }}</td>
        <td *ngIf="user.role != 'admin'">
          <app-update-user [user]="user"></app-update-user>
        </td>
        <td *ngIf="user.role === 'admin'">
          <button pButton pRipple style="background-color: #004666; color: white" icon="pi pi-pencil"
            class="p-button-rounded p-button-warning"></button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
<app-spinkit></app-spinkit>