<p-toast></p-toast>
<div style="width: 90%; margin-left: auto; margin-right: auto">
  <div class="card">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <app-create-dish></app-create-dish>
        <button
          style="margin-left: 10px;"
          type="button"
          pButton
          pRipple
          icon="pi pi-file-excel"
          (click)="exportExcel()"
          class="p-button-success p-mr-2"
          pTooltip="XLS"
          tooltipPosition="bottom"
        ></button>
        <button
          style="margin-left: 10px;"
          type="button"
          pButton
          pRipple
          icon="pi pi-file-pdf"
          (click)="exportPdf()"
          class="p-button-warning p-mr-2"
          pTooltip="PDF"
          tooltipPosition="bottom"
        ></button>
      </ng-template>
    </p-toolbar>
    <mat-progress-bar *ngIf="!products" mode="indeterminate"></mat-progress-bar>

    <p-table
      #dt
      [value]="products"
      [rows]="10"
      [paginator]="true"
      [globalFilterFields]="[
        'name',
        'country.name',
        'representative.name',
        'status'
      ]"
      [(selection)]="selectedProducts"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <h5 class="p-m-0">Manage Dishes</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Search..."
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">
            Name <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th></th>
          <th pSortableColumn="price">
            Price <p-sortIcon field="price"></p-sortIcon>
          </th>
          <th pSortableColumn="category">
            Type <p-sortIcon field="category"></p-sortIcon>
          </th>
          <th pSortableColumn="date">
            Date <p-sortIcon field="date"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.name }}</td>
          <td>
            <img
              style="width: 80px; height: 80px"
              src="{{ product.imagePath }}"
              alt=""
            />
          </td>
          <td>{{ product.price | currency: "VND" }}</td>
          <td>{{ product.type }}</td>
          <td>{{ product.metadata.updated | date:"medium"}}</td>
          <td>
            <app-update-dish [dish]="product"></app-update-dish>
            <button
              pButton
              pRipple
              style="margin-left: 70px; background-color: #e31837; color: white"
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="deleteProduct(product)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          In total there are {{ products ? products.length : 0 }} dishes.
        </div>
      </ng-template>
    </p-table>
  </div>
  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>
