<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h2 class="modal-title" id="modal-basic-title">
        ID: <strong>{{ user._id }}</strong>
      </h2>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- <div>
        <img
          style="width: 150px; height: auto"
          class="img-body"
          src="{{ user.imagePath }}"
          alt=""
        />
        <label >
          <input 
                 type="file"
                 accept="*.png.jpg"
                 (change)="processFile($event)">
        </label>
      </div> -->
      <!-- <hr /> -->
      <div>
        <span class="body-content">
          <h3>
            <strong>{{ user.username }}</strong>
          </h3>
        </span>
      </div>
        <p><strong>Full Name : </strong></p>
        <input type="text" [(ngModel)]="user.fullname" />
        <p><strong>Email : </strong></p>
        <input type="text" [(ngModel)]="user.email" />
        <!-- <select [(ngModel)]="user.status" class="select" >
          <option><p>---</p></option>
          <option><p>actives</p></option>
          <option><p>inactives</p></option>
        </select> -->
        <select [(ngModel)]="user.role" class="select" >
            <option><p>user</p></option>
            <option><p>staff</p></option>
        </select>
      <hr />
      <div>
        <p>created: {{ user.metadata.created | date:'medium'}}</p>
        <p>updated: {{ user.metadata.updated | date:'medium'}}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button style="color: #fff" mat-stroked-button (click)="save()">
        Save
        <mat-icon>save</mat-icon>
      </button>
      <!-- <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button> -->
    </div>
  </ng-template>
  
<button
  pButton
  pRipple
  style="background-color: #004666; color: white"
  icon="pi pi-pencil"
  class="p-button-rounded p-button-warning"
  (click)="open(content)"
></button>