<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create Category!</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="categoryForm" >
        <input type="text" placeholder="Enter name" formControlName="name">
        <input type="text" placeholder="Enter description" formControlName="description">
        <div>
          <img style="width: 150px; height: auto;" *ngFor="let urlFile of filePath" [src]="urlFile">
        </div>
        <label >
          <input 
                 type="file"
                 accept="*.png.jpg"
                 (change)="processFile($event)">
        </label>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="onSubmit()">Save</button>
    </div>
  </ng-template>
  
  <button 
  style="background-color: black"
  pButton
  pRipple
  label="New"
  icon="pi pi-plus"
  class="p-button-success p-mr-2" (click)="open(content)"></button>